* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: gray;
}

header {
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.computador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computador-tela {
    width: 500px;
    height: 300px;
    background-color: black;
    border: 3px solid black;
}

#computador-tela-content {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 20px;
    background-color: rgb(95, 92, 92);
    border: 0;
    font-size: 17px;
    font-weight: bold;
    
}

.computador-bastao {
    width: 60px;
    height: 100px;
    background-color: gray;
    border-left: 3px solid black;
    border-right: 3px solid black;
    
}

.computador-base {
    width: 330px;
    height: 100px;
    background-color: darkgray;
    border: 3px solid black;
}

